.de_list
{
margin: 0;
}div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p
{font-family:Arial;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:Arial;
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
h2
{
font-family:Arial;
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
span.code
{
font-family:Courier New;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:Georgia;
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_160AD1C664
{
	font-size: 11pt;
	color:#3f3f3f;
	font-style:italic;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_403BE9223A
{
	font-size: 10pt;
}
span.de_4539019894
{
	color:#da4b25;
}
span.de_476D3D315E
{
	text-decoration:underline;
}
span.de_51752156DC
{
	color:#000000;
}
span.de_52A7C19AFB
{
	font-size: 10pt;
	color:#000000;
}
span.de_7CE7269266
{
	font-size: 10pt;
	color:#da4b25;
}
span.de_82121658CD
{
	font-size: 12pt;
	text-decoration:underline;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_AD3B714EC2
{
	font-size: 14pt;
	color:#000000;
}
span.de_B9D1504DC3
{
	font-size: 11pt;
	color:#3f3f3f;
}
span.de_D502C2C0EF
{
	font-size: 11pt;
	color:#000000;
	font-style:italic;
}
span.de_DBF328B893
{
	color:#000000;
	font-style:italic;
}
span.de_E5AAA725D2
{
	font-size: 10pt;
	color:#3f3f3f;
}
span.de_E63A2C15A9
{
	font-size: 11pt;
	color:#000000;
}
span.de_E784023B8A
{
	font-size: 10pt;
	color:#da4b25;
	text-decoration:underline;
}
