.de_list
{
margin: 0;
}div.p
{
margin-top:0px;
margin-bottom:0px;
font-weight:normal;
}

div.description_on_page div.p
{font-family:Arial;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
h1
{
font-family:Arial;
font-size: 13pt;color:#375db0;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
h2
{
font-family:Arial;
font-size: 11pt;color:#4f87fd;
font-style:normal;
text-decoration:none;
font-weight:normal;
display:inline-block;
margin:0;
padding:0;
}
span.code
{
font-family:Courier New;
font-size: 11pt;color:#000000;
font-style:normal;
text-decoration:none;
font-weight:normal;
}
span.quote
{
font-family:Georgia;
font-size: 11pt;color:#000000;
font-style:italic;
text-decoration:none;
font-weight:normal;
}
img.de_780D01ADE8
{
margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px;}
span.de_00EBD284C2
{
	font-family:Arial;
	font-style:italic;
}
span.de_05E323186E
{
	font-family:Arial;
	color:#4984b6;
}
span.de_0F609BFBFC
{
	color:#0000ff;
	font-style:italic;
	text-decoration:underline;
}
span.de_160AD1C664
{
	font-size: 11pt;
	color:#3f3f3f;
	font-style:italic;
}
span.de_1A71168EB3
{
	color:#1388ec;
	font-style:italic;
}
span.de_1CD9B34B36
{
	font-family:Arial;
	font-size: 11pt;
	color:#4f87fd;
}
span.de_1DC4B8595F
{
	font-family:Arial;
	color:#2587da;
}
span.de_1F1B97B2FB
{
	font-size: 10pt;
	text-decoration:underline;
}
span.de_21F8DE2DFB
{
	font-size: 11pt;
	font-style:italic;
}
span.de_23D8AF6307
{
	color:#2587da;
	font-style:italic;
}
span.de_2B94C39861
{
	color:#0000ff;
	text-decoration:underline;
}
span.de_32432F17D6
{
	font-family:Arial;
	font-size: 11pt;
	color:#000000;
}
span.de_3755730707
{
	font-style:italic;
	text-decoration:underline;
}
span.de_3936C46AEE
{
	font-family:Arial;
	font-size: 12pt;
	color:#000000;
}
span.de_39FD72A02B
{
	font-size: 11pt;
	font-style:italic;
	text-decoration:underline;
}
span.de_3CD1B569DB
{
	color:#000000;
	font-style:italic;
	text-decoration:underline;
}
span.de_403BE9223A
{
	font-size: 10pt;
}
span.de_476D3D315E
{
	text-decoration:underline;
}
span.de_4F7AD1B79D
{
	font-family:Arial;
	font-size: 11pt;
	color:#000000;
	font-style:italic;
}
span.de_51752156DC
{
	color:#000000;
}
span.de_52A7C19AFB
{
	font-size: 10pt;
	color:#000000;
}
span.de_57F6756949
{
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_58E825B70E
{
	font-family:Calibri;
	font-size: 11pt;
	color:#000000;
}
span.de_6D2D8B1FD4
{
	font-size: 12pt;
}
span.de_749EB6760E
{
	color:#008aff;
	font-style:italic;
}
span.de_7CE7269266
{
	font-size: 10pt;
	color:#da4b25;
}
span.de_7D34F27EA8
{
	font-size: 11pt;
	color:#008aff;
}
span.de_7DDAD2385F
{
	font-family:Arial;
	color:#000000;
}
span.de_81BCACC619
{
	font-family:Calibri;
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_82121658CD
{
	font-size: 12pt;
	text-decoration:underline;
}
span.de_823826CA2C
{
	font-style:italic;
}
span.de_90B04DBBBD
{
	font-family:Helvetica;
	font-size: 9pt;
	color:#468847;
}
span.de_928F59C56B
{
	color:#ec4113;
	text-decoration:underline;
}
span.de_9BBAEB3590
{
	color:#2587da;
}
span.de_9F735D9FA9
{
	font-family:Arial;
	font-size: 11pt;
	color:#0000ff;
	text-decoration:underline;
}
span.de_AA31C5598D
{
	font-family:Arial;
}
span.de_AD3B714EC2
{
	font-size: 14pt;
	color:#000000;
}
span.de_B820BF448D
{
	font-family:Arial;
	text-decoration:underline;
}
span.de_B9D1504DC3
{
	font-size: 11pt;
	color:#3f3f3f;
}
span.de_CF8D474060
{
	color:#008aff;
}
span.de_D502C2C0EF
{
	font-size: 11pt;
	color:#000000;
	font-style:italic;
}
span.de_DBF328B893
{
	color:#000000;
	font-style:italic;
}
span.de_E28D6FFA9D
{
	color:#1388ec;
}
span.de_E49C551FA7
{
	color:#3741c8;
}
span.de_E63A2C15A9
{
	font-size: 11pt;
	color:#000000;
}
span.de_E9C26A8FA3
{
	color:#000000;
	text-decoration:underline;
}
span.de_F91E733E0B
{
	font-family:Arial;
	color:#0000ff;
	text-decoration:underline;
}
span.de_FFB638AC42
{
	font-size: 11pt;
}
